In [2]:
# Import the necessary python libraries

import pandas as pd

In [3]:
# Import the dataset into DataFrame

data = pd.read_csv('data.csv')

In [4]:
# Check the structure of the data

data.shape

# The dataset has 11_914 rows and 16 columns

(11914, 16)

In [14]:
# Have an overview of the data

data.head(2)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650

## Data Pre-Processing Phase

### Data Cleaning

* Change all the column names to a lower case and replace all spaces in-between with an underscore(-)

In [18]:
data.columns = data.columns.str.lower().str.replace(' ', '_')

* Repeat the same process for the object values or entries in the entire dataset.

In [28]:
object_columns = list(data.dtypes[data.dtypes == 'object'].index)

In [29]:
for col in object_columns:
    data[col] = data[col].str.lower().str.replace(' ','_')

In [31]:
data.head(2)

# The data looks consistent at the moment.

,make,model,year,engine_fuel_type,engine_hp,engine_cylinders,transmission_type,driven_wheels,number_of_doors,market_category,vehicle_size,vehicle_style,highway_mpg,city_mpg,popularity,msrp
0,bmw,1_series_m,2011,premium_unleaded_(required),335.0,6.0,manual,rear_wheel_drive,2.0,"factory_tuner,luxury,high-performance",compact,coupe,26,19,3916,46135
1,bmw,1_series,2011,premium_unleaded_(required),300.0,6.0,manual,rear_wheel_drive,2.0,"luxury,performance",compact,convertible,28,19,3916,40650